<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <meta name="viewport" content="initial-scale=1">
  <script type='text/javascript' src='/js/jquery-3.3.1.min.js'></script>
</head>
<body>
  <% include ../layout/layout_admin_menu %>
  
  <div class="jumbotron">
    <h1>설명</h1>
    <p>
      관리자용 메뉴 기본메뉴는 설정없이 가능
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="/admin/add" role="button">메뉴 등록</a>
      <a class="btn btn-primary btn-lg" href="/admin/edit" role="button">메뉴 편집</a>
    </p>
  </div>
</body>
</html>