<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="initial-scale=1">
    <link rel='stylesheet' href='/disp/lib/css/bootstrap.css'>

    <script type='text/javascript' src='/disp/lib/js/jquery-3.3.1.min.js'></script>
    <script type='text/javascript' src='/disp/js/login/login.js'></script>
</head>
<body>
    <div>
        <div>
            <span>아이디</span>
            <input type='text' id='user_id' value=''>
        </div>
        <div>
            <span>패스워드</span>
            <input type='password' id='user_pwd' value=''>
        </div>
        <div>
            <button id='login'>로그인</button>
        </div>
    </div>
</body>
</html>